<p>
  <strong>Name:</strong><%=h @program.name %>
</p>
<p>
  <strong>Key:</strong><%=h @program.key %>
</p>
<p>
  <strong>Enable:</strong><%=h @program.enable %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>